body {
  background-color: blue;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.footer a {
  color: white;
  text-decoration: none;
}

.socialLogos {
  font-size: 6vh;
}
