.footer {
  align-items: center;
  background-color:  rgb(67, 67, 170);
  color: white;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  padding: 5px;
}

#contacts {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}

