* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.HeaderContent {
  background-color: rgb(112, 112, 194);
  /* box-shadow: 0 10px 50px rgb(92, 92, 92); */
}

.HeaderNav {
  display: flex;
  align-items: center;
  height: 15vh;
  justify-content: space-between;
  margin: 0 3vh;
}

.header-logo img {
  width: 10vh;
}

.buttonsHeader {
  cursor: pointer;
  padding: 10px 3px;
  background-color: transparent;
  color: white;
  border: none;
  transition: 0.3s;
  font-size: 2.5vh;
  font-weight: 700;
}

.buttonsHeader:active {
  background-color: white;
  color: rgb(126, 126, 204);
  border-radius: 5px;
}

.aboutMeAndPortifolio {
  gap: 20px;
  display: flex;
  width: auto;
  justify-content: space-between;
}

.linesHeader {
  height: 5vh;
}

.homeIcon {
  font-size: 5vh;
}

@media (max-width: 415px) {
  .aboutMeAndPortifolio {
    gap: 0;
  }
}