.all-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(9, 0, 51);
}

.Home-Section {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.background-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.Home-Section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.479);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0;
}

.content p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
}

.content h2 {
  margin: 0;
  font-size: 32px;
}


.selectedContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  width: 50vw;
  height: 200px;
  z-index: 10;

  font-size: 20px;
}

.contentType {
  display: flex;
  margin: 0 1px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  background-color: rgb(32, 0, 73);
  border-radius: 5px;
  transition: 0.3s;
  color: white;
  cursor: pointer;
  overflow: hidden;
  min-width: 0;
}


.contentInner {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;

}


.contentType.active {
  width: 17%;
  background-color: transparent;
  border: 1px solid white;
}

.contentType.active .contentInner {
  opacity: 1;
}




.socialContainer {
  display: flex;
  margin-top: 15px;
}

.linkedin {
  justify-content: center;
  align-items: center;
  background-color: #0077B5;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.github {
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.myCv {
  background-color: orangered;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.github:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.linkedin:hover {
  background-color: white;
  color: #0077B5;
  border: 1px solid #0077B5;
}

.myCv:hover {
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
}

@media (max-width: 768px) {
  .content {
    position: relative;
    z-index: 10;
    color: white;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0;
  }

  .selectedContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    width: 90vw;
    height: 200px;
    z-index: 10;

    font-size: 18px;
  }

  .contentType {
    display: flex;
    margin: 0 1px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: rgb(32, 0, 73);
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
  }

.contentType.active {
  width: 60%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
}