* {
  padding: 0px;
  margin: 0px;
}

.Home-Section {
  overflow: hidden;
  height: 56vh;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

.Home-Section img {
  width: 400px;
  height: 100%;
  overflow: hidden;
}

@keyframes animacao {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes setaAnimation {
  from {
    transform: translateY(-7px);
  }

  to {
    transform: translateY(7px);
  }
}

.contacts-containter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.contacts {
  display: flex;
  text-decoration: none;
  background-color: rgb(140, 140, 255);
  color: white;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  left: 0;
}

.contacts:hover {
  background-color: rgb(81, 81, 156);
  color: white;
}

.titulos {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(100, 100, 100, 0.5); */
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(140, 140, 255);
}

.titulos {
  animation: 3s animacao;
}

.contacts {
  box-shadow: 2px 2px 5px rgb(141, 141, 141);
}

.Home-Skills {
  flex-direction: column;
  background-color: rgb(140, 140, 255);
  border: none;
  height: 100%;
}

.scroll-down {
  font-size: 1rem;
}

.skills-h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vh;
  color: white;
}

.skills-h1 svg {
  color: white;
  animation: 1s setaAnimation;
  animation-iteration-count: infinite;
}

.skills-h1 h1 {
  margin: 2vh;
  font-size: 5vh;
  background-color: rgb(255, 255, 255);
  color: rgb(104, 114, 255);
  box-shadow: 2px 2px 5px rgb(141, 141, 141);
  padding: 10px;
  border-radius: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vh;
}

.skills div {
  margin: 2%;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: white;
  box-shadow: 2px 2px 5px rgb(141, 141, 141);
  border-radius: 10px;
  border: none;
}

.skills-list-html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-css {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-js {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-react {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-redux {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-bootstrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-jest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.skills-list-html:hover {
  color: #e34c26;
}

.skills-list-css:hover {
  color: #264de4;
}

.skills-list-js:hover {
  color: #F0DB4F;
}

.skills-list-react:hover {
  color: #61DBFB;
}

.skills-list-redux:hover {
  color: #764abc;
}

.skills-list-bootstrap:hover {
  color: rgb(13, 110, 253);
}

.skills-list-jest:hover {
  color: rgb(170, 44, 170);
}

.skills-list-html svg {
  font-size: 100px;
}

.skills-list-css svg {
  font-size: 100px;
}

.skills-list-js svg {
  font-size: 100px;
}

.skills-list-react svg {
  font-size: 100px;
}

.skills-list-redux svg {
  font-size: 100px;
}

.skills-list-bootstrap svg {
  font-size: 100px;
}

.skills-list-jest svg {
  font-size: 100px;
}

@media (max-width: 820px) {
  .Home-Section {
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }

  .Home-Section img {
    height: max-content;
    width: max-content;
  }

  .titulos {
    font-size: 20px;
  }

  .skills-list-html {
    color: #e34c26;
  }

  .skills-list-css {
    color: #264de4;
  }

  .skills-list-js {
    color: #F0DB4F;
  }

  .skills-list-react {
    color: #61DBFB;
  }

  .skills-list-redux {
    color: #764abc;
  }

  .skills-list-bootstrap {
    color: rgb(13, 110, 253);
  }

  .skills-list-jest {
    color: rgb(170, 44, 170);
  }
}